.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(./img/back.jpg); width: 50vw; height: 52,5vw;
    background-size: cover;
}
.login-form {
    width: 400px;
    height: 20px;
    display: block;
    position: absolute;
    top: 40%;
    right: 63%;
}
.login-image {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 45%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.login-form h3 {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    position: absolute;
    bottom: 200%;
    left: 35%;
}
.submit-btn {
    position: absolute;
    top: 0px;
    left: 1px;
}
.login-form button {
    background-color: rgb(83, 83, 255);
    color: white;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    width: 100%;
}
.login-form button:hover {
    cursor: pointer;
    background-color: rgb(71, 71, 219);
}