.sidebar {
    overflow-y: auto;
    height: 100%;
    width: 20vw;
    margin-top: 66px;
    left: 0;
    z-index: 100;
    scrollbar-color: #B9947080 #F9EBC7;
    background-color: #B99470;
}
.list-menu {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #B99470;
    color: #F9EBC7;
}
.ant-menu-item:hover {
    color: white !important;
}
.ant-menu-submenu:hover>.ant-menu-item {
    color: white !important;
}
.ant-menu-submenu-title:hover {
    color: white !important;
}
.ant-menu-submenu-selected>.ant-menu-item-selected {
    color: white !important;
}
.ant-menu-item-selected {
    color: white !important;
    background-color: #78938A !important;
}
.ant-menu-submenu-selected>.ant-menu-submenu-title {
    background-color: #78938A;
    color: white !important;
}
.ant-menu-submenu-selected>.ant-menu-submenu-title:hover {
    background-color: #78938A !important;
    color: white !important;
}