.content {
    max-width: none;
    padding-left: 260px;
    padding-top: 10px;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
}
.dashboard-page {
    position: absolute;
    padding-top: 55px;
}
.ant-card {
    width: 245px;
    background-color: rgba(135, 206, 250, 0.3);
}
.ant-table-cell {
    width: 120px;
    background-color: rgba(196, 231, 255, 0.2);
}
.ant-table-wrapper {
    padding: 15px;
    padding-top: 20px;
}
.list-user {
    position: fixed;
    top: 90px;
    width: 1000px
}
.user-table {
    display: flex;
    justify-items: center;
    flex: 1;
    flex-direction: column;
}
.create-btn {
    margin: 1px;
    margin-top: 10px;
    margin-left: 15px;
}
.create-btn-user {
    margin: 1px;
    margin-top: 20px;
    margin-left: 15px;
}
.create-user {
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    width: 800px;
}
.save-btn {
    margin-top: 10px;
    width: 100px;
    margin-left: 10px;
    position: relative;
    left: 570px;
}
.cancel-btn {
    margin-top: 10px;
    width: 100px;
    margin-left: 10px;
    position: relative;
    left: 570px;
}
.management-village {
    position: fixed;
    top: 110px;
    width: 1000px
}
.create-village {
    position: absolute;
    margin-top: 70px;
    margin-left: 30px;
    width: 550px;
}
.roles {
    position: fixed;
    top: 110px;
    width: 1000px
}
.role-table {
    display: flex;
    justify-items: center;
    flex: 1;
    flex-direction: column;
}
.assignment-role {
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    width: 800px;
}
.assignment-tapper {
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    width: 800px; 
}
.save-btn-tap {
    margin-top: 10px;
    width: 100px;
    margin-left: 10px;
    position: relative;
    left: 690px;
}
.factory-management {
    position: fixed;
    top: 110px;
    width: 1000px
}
.create-factory {
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    width: 800px; 
}
.warehouse-management {
    position: fixed;
    top: 110px;
    width: 1000px
}
.create-warehouse {
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    width: 800px;
}
.price-list {
    position: fixed;
    top: 110px;
    width: 1000px
}
.create-price {
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    width: 800px; 
}
.status-payment {
    position: fixed;
    top: 110px;
    width: 1000px
}
.checklist {
    position: fixed;
    top: 110px;
    width: 1000px;
}
.create-checklist {
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    width: 800px; 
}