.content {
    max-width: none;
    padding-left: 21vw;
    padding-top: 10px;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
}
.dashboard-page {
    position: absolute;
    padding: 10px;
    padding-top: 55px;
    width: 76vw;
    background-color: rgba(0, 0, 0, 0.02);
    border: solid 2px rgba(46, 46, 46, 0.5);
}
.ant-card {
    width: 18vw;
    background-color: rgba(135, 206, 250, 0.3);
}
.content h4 {
    padding: 10px;
}
.ant-table-thead .ant-table-cell {
    background-color: lightskyblue !important;
    }
.ant-table-cell {
    width: 10vw;
    background-color: rgba(196, 231, 255, 0.2);
}
.ant-table-wrapper {
    padding: 15px;
    padding-top: 20px;
}
.list-user {
    position: fixed;
    top: 90px;
    width: 78vw;
}
.user-table {
    display: flex;
    justify-items: center;
    flex: 1;
    flex-direction: column;
}
.create-btn {
    margin: 1px;
    margin-top: 10px;
    margin-left: 15px;
}
.create-btn-user {
    margin: 1px;
    margin-top: 20px;
    margin-left: 15px;
}
.create-user {
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    width: 65vw;
}
.save-btn {
    margin-top: 10px;
    width: 8vw;
    margin-left: 10px;
    position: relative;
    left: 45vw;
}
.cancel-btn {
    margin-top: 10px;
    width: 8vw;
    margin-left: 10px;
    position: relative;
    left: 45vw;
}
.management-village {
    position: fixed;
    top: 110px;
    width: 78vw;
}
.create-village {
    position: absolute;
    margin-top: 70px;
    margin-left: 30px;
    width: 50vw;
}
.roles {
    position: fixed;
    top: 110px;
    width: 78vw;
}
.role-table {
    display: flex;
    justify-items: center;
    flex: 1;
    flex-direction: column;
}
.assignment-role {
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    width: 65vw;
}
.assignment-tapper {
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    width: 65vw; 
}
.save-btn-tap {
    margin-top: 10px;
    width: 8vw;
    margin-left: 10px;
    position: relative;
    left: 56vw;
}
.factory-management {
    position: fixed;
    top: 110px;
    width: 78vw;
}
.create-factory {
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    width: 65vw; 
}
.warehouse-management {
    position: fixed;
    top: 110px;
    width: 78vw;
}
.create-warehouse {
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    width: 65vw;
}
.price-list {
    position: fixed;
    top: 110px;
    width: 78vw;
}
.create-price {
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    width: 65vw; 
}
.status-payment {
    position: fixed;
    top: 110px;
    width: 78vw;
}
.checklist {
    position: fixed;
    top: 110px;
    width: 78vw;
}
.create-checklist {
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    width: 65vw; 
}