.content {
    padding: 0px 0px 0px 1.1vw;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
}
.dashboard-page {
    position: absolute;
    padding: 60px 10px 10px 10px;
    width: 76vw;
}
.ant-card {
    width: 18vw;
    background-color: rgb(113, 201, 255);
}
.content h4 {
    padding: 0px 0px 0px -10px;
}
.ant-table-thead .ant-table-cell {
    background-color: lightskyblue !important;
}
.ant-table-cell {
    width: 10vw;
    background-color: rgba(196, 231, 255, 0.4);
}
.ant-table-wrapper {
    padding: 15px;
    padding-top: 20px;
}
.ant-tabs-nav-list{
    padding-left: 10px;
}
.list-user {
    position: absolute;
    margin-top: 60px;
    width: 96.3%;
    height: auto;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.user-table {
    display: flex;
    justify-items: center;
    flex: 1;
    flex-direction: column;
}
.create-btn {
    margin: 1px;
    margin-top: 10px;
    margin-left: 15px;
}
.create-btn-user {
    margin: 1px;
    margin-top: 10px;
    margin-left: 15px;
}
.create-user {
    position: absolute;
    margin-top: 60px;
    width: 96.3%;
    height: auto;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.form-container {
    padding: 20px;
}
.input-container {
    margin: 10px 10px 0px 0px;
}
.button-container {
    display: flex;
    justify-content: end;
}
.save-btn {
    margin: 10px 10px 10px 0px;
    width: 3cm;
}
.cancel-btn {
    margin: 10px 10px 10px 0px;
    width: 3cm;
}
.create-user-bulk {
    position: absolute;
    margin-top: 60px;
    width: 96.3%;
    height: auto;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.management-village {
    position: absolute;
    margin-top: 60px;
    width: 96.3%;
    height: auto;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.create-village {
    position: absolute;
    margin-top: 60px;
    width: 96.3%;
    height: auto;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: start;
}
.save-btn-village {
    margin-top: 10px;
    width: 3cm;
    margin-left: 10px;
}
.cancel-btn-village {
    margin-top: 10px;
    width: 3cm;
    margin-left: 10px;
}

/* baru sampai sini untuk revisi */

.roles {
    position: absolute;
    margin-top: 60px;
    width: 77vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.role-table {
    display: flex;
    justify-items: center;
    flex: 1;
    flex-direction: column;
}
.create-role {
    position: absolute;
    margin-top: 60px;
    width: 60.9vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
    padding: 20px 206px 10px 0px;
}
.assignment-tapper {
    position: absolute;
    margin-top: 60px;
    width: 65.33vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
    padding: 20px 150px 10px 0px;
}
.save-btn-tap {
    margin-top: 10px;
    width: 8vw;
    margin-left: 10px;
    position: relative;
    left: 67vw;
}
.factory-management {
    position: absolute;
    margin-top: 60px;
    width: 77vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.create-factory {
    position: absolute;
    margin-top: 60px;
    width: 65.33vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
    padding: 20px 150px 20px 0px;
}
.save-btn-factory {
    margin-top: 10px;
    width: 8vw;
    margin-left: 10px;
    position: relative;
    left: 55vw;
}
.cancel-btn-factory {
    margin-top: 10px;
    width: 8vw;
    margin-left: 10px;
    position: relative;
    left: 55vw;
}
.warehouse-management {
    position: absolute;
    margin-top: 60px;
    width: 77vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.create-warehouse {
    position: absolute;
    margin-top: 60px;
    width: 65.33vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
    padding: 20px 150px 20px 0px;
}
.save-btn-warehouse {
    margin-top: 10px;
    width: 8vw;
    margin-left: 10px;
    position: relative;
    left: 55vw;
}
.cancel-btn-warehouse {
    margin-top: 10px;
    width: 8vw;
    margin-left: 10px;
    position: relative;
    left: 55vw;
}
.price-list {
    position: absolute;
    margin-top: 60px;
    width: 77vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.create-price {
    position: absolute;
    margin-top: 60px;
    width: 61.4vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
    padding: 10px 200px 20px 0px;
}
.status-payment {
    position: absolute;
    margin-top: 60px;
    width: 77vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.checklist {
    position: absolute;
    margin-top: 60px;
    width: 77vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.create-checklist {
    position: absolute;
    margin-top: 60px;
    width: 75.5vw; 
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
}
.control-checklist {
    position: absolute;
    margin-top: 60px;
    width: 77vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.control-table2 {
    width: 70vw;
}
.village {
    position: absolute;
    margin-top: 60px;
    width: 77vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.nira {
    position: absolute;
    margin-top: 60px;
    width: 77vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.nira-btn {
    margin: 1px;
    margin-top: 10px;
    margin-left: 15px;
}
.tappers {
    position: absolute;
    margin-top: 60px;
    width: 77vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.filter {
    margin: 1px;
    margin-top: 10px;
    margin-left: 15px;
}
.purchase-filter {
    position: absolute;
    margin-top: 60px;
    width: 65.33vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
    padding: 20px 150px 10px 0px;
}
.collector {
    position: absolute;
    margin-top: 60px;
    width: 65.33vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
    padding: 20px 150px 10px 0px;
}
.save-collector-btn {
    margin-top: 10px;
    width: 8vw;
    margin-left: 10px;
    position: relative;
    left: 67vw;
}
.not-found {
    width: 65vw;
    position: fixed;
    left: 20vw;
    bottom: -50px;
}
.production {
    position: absolute;
    margin-top: 60px;
    width: 77vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.create-production {
    position: absolute;
    margin-top: 60px;
    width: 75.5vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
    padding: 10px 20px 20px 0px;
}
.create-production-btn {
    position: absolute;
    top: 5%;
    right: 2.5vw;
}
.purchase {
    position: absolute;
    margin-top: 60px;
    width: 77vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.ics {
    position: absolute;
    margin-top: 60px;
    width: 77vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.ics-team {
    position: absolute;
    margin-top: 60px;
    width: 65.33vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
    padding: 10px 150px 10px 0px;
}
.detail {
    position: absolute;
    top: 110px;
    width: 78vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.detail-payment {
    margin-top: 10px;
    margin-left: 1vw;
}
.kpi {
    position: absolute;
    margin-top: 60px;
    width: 77vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.catatan-petani {
    position: absolute;
    margin-top: 60px;
    width: 77vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.create-petani {
    position: absolute;
    margin-top: 60px;
    width: 75.5vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
    padding: 10px 20px 20px 0px;
}
.save-petani-btn {
    margin-top: 10px;
    width: 8vw;
    margin-left: 10px;
    position: relative;
    left: 53vw;
}
.remove-btn {
    position: absolute;
    left: 75%;
}
.catatan-pupuk {
    position: absolute;
    margin-top: 60px;
    width: 77vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.create-pupuk {
    position: absolute;
    margin-top: 60px;
    width: 75.5vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
    padding: 10px 20px 20px 0px;
}
.profile {
    position: absolute;
    margin-top: 60px;
    width: 77vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
}
.info {
    margin: -20px 0px 10px 10px;
}
.profile-img {
    width: 200px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    overflow: hidden;
}
.profile-btn {
    margin: 0px 10px 10px 10px;
    width: 8vw;
    position: relative;
    left: 45vw; 
}
.save-cancel-btn {
    margin: 10px 10px 10px 10px;
    width: 8vw;
    position: relative;
    left: 39vw;
}
.edit-user {
    position: absolute;
    margin-top: 60px;
    width: 73.9vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
    padding: 20px 40px 10px 0px;
}
.edit-village {
    position: absolute;
    margin-top: 60px;
    width: 65.34vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
    padding: 20px 150px 10px 0px;
}
.detail-user {
    position: absolute;
    margin-top: 60px;
    width: 74.7vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
    padding: 10px 0px 0px 30px;
}
.back-btn {
    margin-top: 10px;
    width: 8vw;
    margin-left: 10px;
    position: relative;
    left: 55vw;
    margin-bottom: 10px;
}
.edit-btn {
    margin-top: 10px;
    width: 8vw;
    margin-left: 10px;
    position: relative;
    left: 55vw;
    margin-bottom: 10px;
}
.edit-role {
    position: absolute;
    margin-top: 60px;
    width: 65.34vw;
    background-color: white;
    border: solid 1px rgba(46, 46, 46, 0.2);
    border-radius: 5px;
    padding: 20px 150px 10px 0px;
}