.header {
  position: sticky;
  top: 0px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
  background-color: lightskyblue;
}
.header h5 {
  color: white;
  position: absolute;
  left: 70px;
  top: 0px;
}
.user-img {
  justify-content: space-between;
  width: 55px;
  position: absolute;
  left: 5px;
  top: 3px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 100%;
}
.logout-img {
  justify-content: space-between;
  width: 25px;
  position: absolute;
  top: 20px;
  right: 75px;
}
button {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border-style:none ;
  position: absolute;
  right: 10px;
  top: 23px;
  font-weight: bolder;
}
button:hover {
  cursor: pointer;
}