.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
  }
.main-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: fixed;
    width: 80%;
    height: 90.4%;
    top: 65px;
    left: 20vw;
    overflow-y: auto;
}